.App {
  display: flex;
  justify-content: space-around;
}
body {
  background-color:#adad85;
  background-image: url("./Components/img/bg-img.jpg");
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-family: Verdana;
}
.form-login {
  width: 20%;
  margin-top: 10%;
  border-radius: 3%;
  box-shadow: 10px 10px 5px grey;
}
.btn-login {
  margin-top: 5%;
  width: 43%;
}
#info{
  width: 60%;
  margin-top: 10%;
  border-radius: 3%;
  box-shadow: 10px 10px 5px grey;
}
.deposPage {
  width: 40%;
  margin-left: 33%;
  margin-top: 5%;
}
.jumbDep {
  margin-top: 5%;
}
.nav-style li a, button{
  width: 50%;
  margin: auto;
}
.btn-style{
  width: 20%;
}
h5 {
  margin-bottom: 5%;
}
#printWarn{
  color: red;
  margin-top: 5%;
}
@media only screen and (max-width: 600px) {
  .App {
    display: block;
  }
  #info{
    width: 100%;
  }
  .form-login {
    width: 100%;
  }
  .deposPage {
    display: inline;
  }
  .btn-style{
    display: inline-block;
    width: 40%;
    margin-top: 5%;
  }
  .nav-style li{
    display: flex;
    width: 100%;
    padding-bottom: 5%;
  }
  .nav-style li a, button{
    width: 100%;
  }
} 